# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# PyInstaller & Build
build/
dist/
*.spec
LionYTDownloader_v*.zip

# Binaries (Do not upload to git, build them locally)
ffmpeg.exe
ffprobe.exe

# Local assets
icon.ico